# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Fastify
.fastifyrc

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Build
dist/
build/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/
bower_components/

# pnpm stores
.pnpm-store/
pnpm-lock.yaml

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

